@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,900;1,600&family=Roboto+Slab:wght@700;800&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,500&family=Playfair+Display:ital,wght@0,900;1,600&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,500&family=Playfair+Display:ital,wght@0,900;1,600&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat:ital,wght@0,400;0,700;0,900;1,500&family=Playfair+Display:ital,wght@0,900;1,600&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,900;1,600&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Mulish:wght@500&family=Playfair+Display:ital,wght@0,900;1,600&family=Roboto+Slab:wght@700;800&family=Roboto:ital@1&display=swap");
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
:root {
  --about-font-color-light: #f7f7f7;
  --about-font-color-dark: #181818;
  --montserrat-font: "Montserrat", sans-serif;
  --mulish-font: "Mulish", sans-serif;
}
/*entery*/
.entery-bg {
  background-color: #fff;
}

.entery-bg h3 {
  color:#767676;
  font-family: var(--montserrat-font);
  font-size: 20px;
  font-weight: 500;
}
.carousel-buttons {
  border: 2px solid #000;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.carousel-inner-btn {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: #000;
}
.carousel-div {
  margin-top: 10em;
}
.entery-images {
  transition: all .5s ease;
  cursor: pointer;

}
.entery-images:hover {
  transform: translateY(-15px);
}
.entery-images-responsive{
  margin-bottom: 8rem;
}




/* navbar */
@media (max-width: 540px) {
  #off-canvas-display {
    width: 60%;
  }
}
@media (min-width: 1151px) {
  .offcanvas.show {
    visibility: hidden !important;
    opacity: 0 !important;
    transform: translateX(-100%);
  }

  .overlay {
    display: none !important;
  }
}
.navbar-style {
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.fixed-col-light {
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
.fixed-col-dark {
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 1200px) {
  .fixed-col {
    display: none;
  }
}
.home-para {
  color: #767676;
  font-family: (var(--montserrat-font));
  font-weight: 500;
}
@media (min-width: 1200px) {
  .home-para {
    width: 85%;
  }
}
.side-nav-dist {
  padding-left: 20px;
}
.side-nav-brand {
  font-size: 28px;
  font-weight: bolder;
}

.relative-col-light {
  height: 100vh;
  background-color: #f5f5f5;
}
.relative-col-dark {
  height: 100vh;
  background-color: #0f0f0f;
}
@media (max-width: 850px) {
  .relative-col {
    flex-direction: column;
    width: 75%;
  }
}
.home-text {
  @media (max-width: 850px) {
    text-align: center;
  }
}
.side-nav-link-light {
  color: #000;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  transition: letter-spacing 0.3s ease;
}
.side-nav-link-light.active{
color :rgb(116, 112, 112);
font-weight: bold;
}
.side-nav-link-dark {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  transition: letter-spacing 0.3s ease;
}
.side-nav-link-dark.active{
  color: rgb(107, 104, 104);
  font-weight: bold;
}
.side-nav-link-title {
  letter-spacing: 6px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 30px;
  padding-left: 7rem;
  margin-bottom: 2rem;
}
.side-nav-link-dark:hover {
  letter-spacing: 3.5px;
}
.side-nav-link-light:hover {
  letter-spacing: 3.5px;
}
/*dark-light toggle*/
@media (max-width: 1200px) {
  .toogle-btn-mode {
    display: none;
  }
}
.toogle-btn-dark {
  border-radius: 30px 0 0 30px;
  width: 60px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 3px;
}
.toogle-btn-light {
  border-radius: 30px 0 0 30px;
  width: 60px;
  height: 50px;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: fixed;
  right: 3px;
}
/*home page */
.home-image {
  background-color: #bbb;
  animation-name: morph;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  width: 290px;
  height: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  box-shadow: inset 0 0 0 9px hsla(0, 0%, 100%, 0.3);
}
@media (max-width: 846px) {
  .home-image {
    width: 200px;
    height: 200px;
  }
}
@keyframes morph {
  0% {
    box-shadow: inset 0 0 0 9px hsla(0, 0%, 100%, 0.3);
    border-radius: 60% 45% 30% 60%/60% 30% 65% 40%;
    background-color: #bbb;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 45% 30% 60%/60% 30% 65% 40%;
    background-color: #bbb;
  }
}
.home-h3-title-light {
  font-size: 42px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  color: #000;
  letter-spacing: .5px;
}
.home-h3-title-dark {
  font-size: 42px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  letter-spacing: .5px;
}
@media (max-width: 430px) {
  .home-h3-title-light {
    font-size: 35px;
  }

  .home-h3-title-dark {
    font-size: 35px;
  }
}

.type-self-light {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.5px;
  padding: 15px;
}
.type-self-dark {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
    padding: 15px;

}
.social-media-icons {
  transition: 0.3s ease-out;
}

@media (max-width: 850px) {
  .home-social-media-icons {
    justify-content: center;
  }
}

.social-media-icons:hover {
  transform: translateY(-5px);
}
.navbar-props {
  background-color: #fff;
}


@media (max-width:850px){
  .home-structure {
    padding-right: 3rem;
  }
} 
/* toggler */
.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}
#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}
#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

/*****/
.top-toggle-mode-light {
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background-color: #767676;
}
.top-toggle-mode-dark {
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background-color: #f3f0f0;
}
/****/
.off-canvas-side-nav-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #000;
}
.off-canvas-side-nav-light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #f0efef;
}

.offcanvas-active {
  z-index: 10;
}

/*offcanvas button anime*/
.icon-button {
  transition: transform 0.5s ease-in-out;
}

.bg-white.icon-button {
  background-color: white;
}

.bg-dark.icon-button {
  background-color: dark;
}

/*about*/
.personal-data-column {
  display: flex;
  flex-direction: column;
}

.personal-data-item {
  margin-bottom: 2px;
  display: flex;
}

.personal-data-key {
  min-width: 120px;
  color: #000;
}

.personal-data-value {
  white-space: nowrap;
}

.bg-color-light {
  background-color: #141313;
}
.bg-color-dark {
  background-color: #efeff0;
}
.first-about-dark {
  color: #747171;
  background-color: rgb(46, 45, 45);
  font-size: 12px;
  font-weight: 500;
}
.first-about-light {
  color: #1d1d1d;
  background-color: rgb(226, 223, 223);
  font-size: 12px;
  font-weight: 500;
}
.web-dev-about {
  font-family: var(--mulish-font);
  font-size: 15px;
  letter-spacing: 0.5px;
}
.line-seperate-dark {
  border-bottom-color: hsla(0, 0%, 100%, 0.1);
}
.line-seperate-light {
  border-bottom-color: rgb(223, 223, 223);
}
.top-navbar-dark {
  background-color: #fff;
}
.cv-button-light {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: #f1f1f1;
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  border: none;
}
.cv-button-dark {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: #000000;
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  border: none;
}
.cv-button-dark,
.cv-button-light {
  transition: width 0.3s ease-in-out;
}
.cv-button-dark {
  width: 150px;
}

.cv-button-light {
  width: 150px;
}
.cv-button-dark:hover,
.cv-button-light:hover {
  width: 200px;
}
.about-toggle-btn-light {
  width: 60px;
  height: 50px;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: fixed;
  right: 0;
  top: 26em;
  border-radius: 30px 0 0 30px;
}
.about-toggle-btn-dark {
  width: 60px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 0;
  top: 26em;
  border-radius: 30px 0 0 30px;
}
@media (max-width: 1200px) {
  .about-toggle-btn-dark,
  .about-toggle-btn-light {
    display: none;
  }
}

.about-skills-bg-dark {
  background-color: #000;
  width: 100%;
}
.about-skills-bg-light {
  background-color: #e9e9e9;
  width: 100%;
}
.personal-data-item {
  font-weight: 700;
  font-family: var(--mulish-font);
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 30px;
}

.bar-progress-title {
  font-family: var(--montserrat-font);
  line-height: 1.2;
  font-size: 20px;
  font-weight: 700;
}
.bar-progress-items {
  font-size: 15px;
  font-family: var(--mulish-font);
  font-weight: 400;
}
.knowledge-interest-items {
  font-family: var(--mulish-font);
  font-size: 15px;
  line-height: 20px;
}
.about-bottom-slider {
  font-size: 16px;
  font-weight: 600;
  
}
/*paddig for the about*/
@media (min-width: 1200px) {
  .first-part {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (min-width: 1200px) {
  .first-part-marings {
    margin-left: 10rem;
  }
}

/**/

.about-detail {
  font-family: var(--mulish-font), sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.skills-style-dark {
  font-family: var(--montserrat-font);
  color: var(--about-font-color-dark);
  font-weight: 600;
}

.skills-style-light {
  font-family: var(--montserrat-font);
  color: var(--about-font-color-light);
  font-weight: 600;
}

.about-senond-about {
  font-family: var(--montserrat-font);
  font-size: 28px;
  font-weight: 800;
}

/**/

.edu-exp-dark {
  font-family: var(--mulish-font);
  color: #fff;
  background-color: hsla(0, 0%, 100%, 0.065);
  position: relative;
  right: -1px;
  padding: 7px 20px 5px 20px;
  border-radius: 50px;
  height: 40px;
}
.edu-exp-light {
  font-family: var(--mulish-font);
  color: #000;
  background-color: hsla(0, 0%, 41%, 0.065);
  position: relative;
  right: -1px;
  padding: 7px 20px 5px 20px;
  border-radius: 50px;
  height: 40px;
}
.edu-exp-h3-tags {
  font-family: var(--montserrat-font);
  color: var(--about-font-color-light);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.edu-exp-span-tags {
  font-family: var(--mulish-font);
  color: var(--about-font-color-light);
  font-weight: 600;
  font-size: 12px;
}
.responsive-edu-exp {
  position: relative;
  right: -8rem;
}
@media (max-width: 515px) {
  .responsive-edu-exp {
    position: relative;
    bottom: 202px;
    right: -2rem;
  }
}
@media (max-width: 968px) and (min-width: 760px) {
  .responsive-edu-exp {
    position: relative;
    bottom: 202px;
    right: -2rem;
  }
}
@media (max-width: 362px) {
  .dot-styles {
    height: 15px;
    width: 15;
  }
}

canvas {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  canvas {
    width: 80%;
  }
}

@media (max-width: 576px) {
  canvas {
    width: 90%;
  }
}

.btn-primary {
  background-color: #000000 !important;
  border: none;
}

.card {
  transition: all 0.2s ease-in-out;
}
.card-title {
  font-family: var(--montserrat-font);
  font-weight: 600;
}
.card:hover {
  scale: 1.1;
  z-index: 15;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.personal-title-span {
  font-family: var(--mulish-font);
  font-size: 15px;
  font-weight: 900;
}
.personal-item-span {
  font-family: var(--mulish-font);
  font-size: 15px;
  font-weight: 200;
}

/*services*/
.sevices-items {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 25px 10px 25px 10px;
}
.thigstodo-id {
  font-family: var(--montserrat-font);
  font-weight: 700;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  padding-top: 18px;
  margin-bottom: 2rem;
}
.thigstodo-data {
  font-family: var(--mulish-font);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.span-h3-service {
  font-family: var(--montserrat-font);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.fun-fact {
  border: 1px solid #454545;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 1rem;
  padding-bottom: 10px;
  margin-left: 1rem;
}
@media (max-width: 1200px) {
  .service-page {
    display: flex;
    justify-content: center;
  }
}
.titles-service {
  margin-left: 10em;
}
@media (max-width: 990px) {
  .titles-service {
    margin-left: 15px;
  }
}
.titles-service > h3 {
  font-family: var(--montserrat-font);
  font-size: 30px;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.read-more {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.dash {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  transition: left 0.3s ease-out;
}

.read-more:hover .dash {
  left: 35%;
}

.text {
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: var(--mulish-font);
  font-size: 15px;
}

.read-more:hover .text {
  opacity: 1;
}
.partners-row {
  border: 2px solid #eee;
}
.partners-style {
  padding: 5rem;
}
.ul-items {
  border: 2px solid #eee;
  opacity: 0.5;
}
.fun-fact-h3 {
  font-family: var(--montserrat-font);
  font-weight: 600;
  line-height: 1.2;
  font-size: 18px;
}
.price-p {
  font-family: var(--mulish-font);
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
}
.prince-price {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--montserrat-font);
}

.testimonial-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.column-quote {
  display: flex;
  margin: 0 10px;
  height: 150px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}

.slider-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("./images/photo_2023-11-09_15-30-43.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
@media (max-width: 570px) {
  .quote {
    max-width: 100%;
  }
}
.servies-images {
  opacity: .5;
  transition: all .3s ease;
}
.servies-images:hover{
  opacity: 1;
}
/**portfolio**/
.portfolio-list {
  cursor: pointer;
  font-family: var(--montserrat-font);
  font-weight: 500;
}
.image-container {
  overflow: hidden;
}

.image-port {
  width: 100%; 
  transition: transform 0.5s ease;
  height: auto; 
}

.image-container:hover .image-port {
  transform: scale(1.1);
}
.portfoli-title{
  font-family: var(--montserrat-font);
  font-weight: 800;
  font-size: 30px;
  letter-spacing: .5px;
}

.flex-row-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items:  flex-end;
}

.portfoli-title-item {
  text-align: center; 
  margin-bottom: 10px; 
}
@media (max-width:410px){
  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}